@page
@model Dcontact.Areas.Identity.Pages.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<form id="account" method="post">
    <div class="login__container">
        <div class="login--title">
            <span>Change Password</span>
        </div>
     

        <div class="updatePassword__container">

            <div class="updatePassword--header">
                <span class="header--title">Update password</span>
                <i id="closeUpdate" class="fa-regular fa-circle-xmark"></i>
            </div>

            <div class="updatePassword--input">

                <div class="currentPassword cmnInput">
                    <input asp-for="Input.UserName" type="text" placeholder="Username" id="usertxt" />
                </div>

                <div class="currentPassword cmnInput">
                    <input asp-for="Input.OldPassword" type="password" placeholder="Current Password" id="passtxt" />
                </div>

                <div class="newPassword cmnInput">
                    <input asp-for="Input.NewPassword" type="password" placeholder="New Password" id="newtxt" />
                </div>

                <div class="confirmPassword cmnInput">
                    <input asp-for="Input.ConfirmPassword" type="password" placeholder="Confirm Password" id="conftxt" />
                </div>

                <div class="passwordConfirmNotification">
                    <p hidden id="passwordNotice"></p>
                </div>

            </div>

            <div class="updatePassword--footer">
                <a href="#">forget password ?</a>
                <button type="submit" class="btnUpdate">Update</button>
            </div>
        </div>
        </div>
</form>


<!--
<script>
    const link_ = "https://localhost:44333/api/AspNetUsers";

    async function changePassword() {

        var link = link_
        link = link + "?username=" + document.getElementById("username").textContent
        link = link + "&oldPassword=" + document.getElementById("passtxt").value
        link = link + "&newPassword=" + document.getElementById("newtxt").value
        console.log(link)

        const respond = await fetch(link);
        const json_result = await respond.json();

        console.log(json_result);
        var passNotice = document.getElementById("passwordNotice")
        passNotice.style.position = "relative";
        passNotice.style.alignItems = "center";
        passNotice.style.justifyContent = "center";
        passNotice.style.color = "white";
        if (json_result["status"] == "OK") {
            document.getElementById("passwordNotice").hidden = false
            passNotice.style.color = "green";
            document.getElementById("passwordNotice").innerText = "Password changed successfully"
        } else {
            document.getElementById("passwordNotice").hidden = false
            passNotice.style.color = "red";
            document.getElementById("passwordNotice").innerHTML = json_result["message"]
        }

    }
</script>
 -->
