@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "/Pages/Shared/_LayoutNull.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/css/forgetpassword.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dteam.css" asp-append-version="true" />
 }

   <partial name="_Dteam"/>

    <div class="forget__container">
        <form method="post">
            <div class="forget--header">
                <span>Recovery password</span>
                <i id="closeForget" class="fa-regular fa-circle-xmark"></i>
            </div>

            <div class="forget--inputEmail forgetInput">
                <div class="input-valid">
                    <span class="validation" id="password--validation" asp-validation-for="Input.Email"></span>
                    <input asp-for="Input.Email" type="email" placeholder="Enter your Email" aria-required="true" />
                </div>
                <div class="btnContainer">
                    <button type="submit" class="btnSend btnForget">SEND</button>
                </div>
            </div>
        </form>
    </div>
    <partial name="_ModelPopup" model="Model.Popup" />
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/site.js"></script>
    <script src="~/js/forgetpassword.js"></script>
}
