@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Pages/Shared/_LayoutNull.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dteam.css" asp-append-version="true" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
 }
    <div class="dteam">
        <div class="dteam">
            <ul class="main-nav">
                <li class="item1">
                    <div class="bg"><img src="~/assets/d1.avif" alt="" /></div>
                </li>
                <li class="item2">
                    <div class="bg"><img src="~/assets/d2.avif" alt="" /></div>
                </li>
                <li class="item3">
                    <div class="bg">
                        <img src="~/assets/Asset 3Dcontact.png" />
                    </div>
                </li>
                <li class="item4">
                    <div class="bg"><img src="~/assets/d4.avif" alt="" /></div>
                </li>
                <li class="item5">
                    <div class="bg"><img src="/assets/d5.jpg" alt="" /></div>
                </li>
            </ul>
        </div>
    </div>

    <!-- begin login form -->
    <form id="account" method="post">
        
        <div class="login__container">
            <div class="login--title">
                <span>Login</span>
            </div>
            <div class="login-ques">
                <span>Don't have an account ?</span>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">sign up free</a>
            </div>

            <!-- login form -->
            <div class="login--input">
                <div class="input--valid input--username">
                    <span class="validation" id="username--validation" asp-validation-for="Input.Username">
                    </span>
                    <input asp-for="Input.Username" class="username" placeholder="Username" autocomplete="username" aria-required="true" />
                </div>
                <div class="input--valid input--password">
                    <span class="validation" id="password--validation" asp-validation-for="Input.Password"></span>
                    <input asp-for="Input.Password" class="password" placeholder="Password" autocomplete="current-password" aria-required="true" />
                </div>
            </div>

            <div class="login--forgotpw">
                <a id="forgot-password" asp-page="./ForgotPassword">forgot password?</a>
            </div>

            <div class="login--btn">
                <button type="submit" class="btn-login-loginpage">Login</button>
            </div>
        </div>
    </form>
    @if (ModelState.Count > 0 && !ModelState.IsValid && Model.Popup is not null)
    {
    <partial name="_ModelPopup" model="Model.Popup" />
    }

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/site.js"></script>
}
