@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Pages/Shared/_LayoutNull.cshtml";
}

@section Styles{
        <link rel="stylesheet" href="~/css/signup.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/dteam.css" asp-append-version="true" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
 }

    @*DTEAM IMAGE BACKGROUND*@
        <div class="dteam">
            <ul class="main-nav">
                <li class="item1">
                    <div class="bg"><img src="~/assets/d1.avif" alt="" /></div>
                </li>
                <li class="item2">
                    <div class="bg"><img src="~/assets/d2.avif" alt="" /></div>
                </li>
                <li class="item3">
                    <div class="bg">
                        <img src="~/assets/Asset 3Dcontact.png" />
                    </div>
                </li>
                <li class="item4">
                    <div class="bg"><img src="~/assets/d4.avif" alt="" /></div>
                </li>
                <li class="item5">
                    <div class="bg"><img src="~/assets/d5.jpg" alt="" /></div>
                </li>
            </ul>
        </div>

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="signup__container">
          <div class="signup--title">
            <span>Signup</span>
          </div>
          <div class="signup--ques">
            <span>Have already an account?</span>
            <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login here</a>
          </div>
          <!-- signup form -->
          <div class="signup--input">
            <div class="input--valid input--username">
                 <span asp-validation-for="Input.UserName" class="validation" id="username--validation"></span>
                <input asp-for="Input.UserName" class="username" autocomplete="username" aria-required="true" placeholder="Username" />

                    </div>
                    <div class="input--valid input--email">
                        <span asp-validation-for="Input.Email" class="validation" id="email--validation"></span>
                        <input asp-for="Input.Email" class="email" autocomplete="username" aria-required="true" placeholder="Email" />

                    </div>
                    <div class="input--valid input--password">
                        <span asp-validation-for="Input.Password" class="validation" id="password--validation"></span>
                        <input asp-for="Input.Password" class="password" autocomplete="new-password" aria-required="true" placeholder="Password" />

                    </div>
                    <div class="input--valid input--repassword">
                        <span asp-validation-for="Input.ConfirmPassword" class="validation" id="repassword--validation"></span>
                        <input asp-for="Input.ConfirmPassword" class="repassword" aria-required="true" placeholder="Re-Password" />


                    </div>
                </div>

                <div class="signup--btn">
                    <button class="btn-signup-pagesignup" type="submit">Signup</button>
                </div>
            </div>
        </form>
  
@if (ModelState.Count > 0 && !ModelState.IsValid && Model.Popup is not null)
{
    <partial name="_ModelPopup" model="Model.Popup" />
}
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    <script src="~/js/site.js"></script>
}
