@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "/Pages/Shared/_LayoutNull.cshtml";
}

@section Styles{
            <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/dteam.css" asp-append-version="true" />
            <!-- Font  -->
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
            <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,600&display=swap"
      rel="stylesheet" />
}
            <header class="header">
                <!-- Header Left: Logo, Category -->
                <div class="header__left">
                    <a href="#" class="header__left__box-img">
                        <img src="~/assets/Asset 3Dcontact.png"
                 alt="Logo70x70"
                 class="header__left-img" />
                    </a>
                    <ul class="header__left-list">
                        <li class="header__left-item">
                            <a href="#banner" class="header__left-item-link">Home</a>
                        </li>
                        <li class="header__left-item">
                            <a href="#section01" class="header__left-item-link">Products</a>
                        </li>
                        <li class="header__left-item">
                            <a href="#section03" class="header__left-item-link">Benefit</a>
                        </li>
                        <li class="header__left-item">
                            <a href="#footer" class="header__left-item-link">About Us</a>
                        </li>
                    </ul>
                </div>
                <!-- Header Right: Signin, Signup -->
                <div class="header__right">
                    <ul class="header__right-list">
                        <li class="header__right-item btn-signup">
                            <a class="header__right-item-link" asp-area="Identity"  asp-page="/Account/Register" >Signup</a>
                        </li>
                        <li class="header__right-item btn-signin">
                            <a class="header__right-item-link" asp-area="Identity"  asp-page="/Account/Login" >Login</a>
                        </li>
                    </ul>
                </div>
            </header>
            <!-- Banner -->
            <section class="banner" id="banner"> 
                <div class="scrolldown">
                    <p class="scrolldown__title">Scroll Down</p>
                    <i class="fa-solid fa-arrow-down-long"></i>
                </div>
                <div id="slogan">CREATIVE - GET READY</div>
            </section>
            <!-- Section 01 -->
            <section id="section01" class="section01">
                <div class="section__content">
                    <div class="section__content-left">
                        <img src="~/assets/img_aboutDcontact.jpg"
                 alt="Image500x500"
                 class="section__content-left_img" />
                    </div>
                    <div class="section__content-right">
                        <h3 class="section__content-right-title">
                            About DContact and Benefits for 4.0 Technologies
                        </h3>
                        <p class="section__content-right-des">
                               Dcontact is a website that may assist you personalize your business card.
                                   Information is readily updated for everyone. If we can't meet distant 
                                   friends or international business colleagues, 4.0 technology makes it 
                                   simpler to exchange business cards.
                        </p>
                @*  <p class="section__content-right-des">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <p class="section__content-right-des">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>*@
                    </div>
                </div>
            </section>
            <!-- Section 02 -->
            <section class="section02" id="section02">
                <div class="section__content">
                    <div class="section__content-right">
                        <h3 class="section__content-right-title">ABOUT DCard</h3>
                        <p class="section__content-right-des">
                                In lieu of traditional visit cards, Dcard will allow us to 
                                exchange more up-to-date personal business cards. When using 
                                Dcard, we simply swipe NFC technology into the phone rather 
                                than the recipient reading every piece of information on the card. 
                                Then, we will view all of the data that the cardholder has submitted.
                        </p>
                        <p class="section__content-right-des">
                                Additionally, dcard will undoubtedly allow users to freely creative a 
                                special card for themselves.
                        </p>  
                        <p class="section__content-right-des">
                                   Alternatively, if you run a business, 
                                   you can create a special card only for it.
                                   When they take it, it helps to leave a lasting effect on everyone.
                        </p>
                    </div>
                    <div class="section__content-left">
                        <img src="~/assets/card.jpg"
                 alt="Image400x300"
                 class="section__content-left_img" />
                    </div>
                </div>
                <div class="section__content">
                    <div class="section__content-left">
                        <img src="~/assets/img_about_NFC.png"
                 alt="Image400x300"
                 class="section__content-left_img" />
                    </div>
                    <div class="section__content-right">
                        <h3 class="section__content-right-title">ABOUT NFC Tech</h3>
                        <p class="section__content-right-des">
                                   NFC stand for Near-field communications, which is a set of communication 
                                   protocols that enables communication between two electronic devices over 
                                   a distance of 4 cm or less. NFC offers a low-speed 
                                   connection through a simple setup that can be used to bootstrap 
                                   more-capable wireless connections.
                        </p>
                        <p class="section__content-right-des">
                               We chose to combine DCard and NFC because we thought it was 
                               appropriate for our product, making it simple for individuals to 
                               exchange information.
                        </p>
                    </div>
                </div>
            </section>
            <!-- Section 03 -->
            <section class="section03" id="section03">
                <div class="section03__content">
                    <div class="section03__content-left">
                        <h3 class="section03__content-left-title">
                                Facebook, Email, Instagram... we can incorporate your personal information 
                                into DContact instead of asking one by one. You can send everyone you wish 
                                    to share with a direct DCard that you purchase or you can share your own DContact link.
                        </h3>
                    </div>
                    <div class="section03__content-center">
                        <h3 class="section__content-right-title">Overview Products</h3>
                        <p class="section__content-right-des">
                                You may utilize the straightforward website with ease and feel free to add your own personal touches.
                        </p>
                    </div>
                    <div class="section03__content-right">
                        <img src="~/assets/img_tienich.jpg"
                 alt="Image300x300"
                 class="section__content-left_img" />
                    </div>
                </div>
            </section>
            <!-- Footer -->
            <footer class="footer" id="footer">
                   <div class="_container">
                    <div class="_row b2">
                        <div class="_column">
                            <h3>About Us</h3>
                            <small>
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia qui quae molestiae quisquam alias, illum eveniet in eius, error eum ratione consequatur dolore debitis deleniti cumque! Ducimus veritatis dolore rerum.
                            </small>
                        </div>
                        <div class="_column">
                            <h3>Contact</h3>
                              <ul class="list-unstyle">
                                <li class="list-unstyle-item">
                                  <i class="fas fa-home" style="margin-right: 5px;"></i>
                                  600 Nguyen Van Cu noi dai, Can Tho
                                </li>
                                <li class="list-unstyle-item">
                                  <i class="fas fa-mail-bulk" style="margin-right: 5px;color: var(--bs-dark);"></i>
                                  Dteam.fpt@gmail.com
                                </li class="list-unstyle-item">
                                <li class="list-unstyle-item">
                                  <i class="fas fa-phone-alt" style="margin-right: 5px;color: var(--bs-dark);"></i>
                                  0123123123
                                </li>
                              </ul>
                        </div>
                    </div>
                    <hr/>
                    <div class="_row">
                        <div class="_column">
                            <p class="text-mute">Copyright © 2022 Dcontact</p>
                        </div>
                        <div class="_column">
                            <ul class="list-inline">
                                <li class="list-inline-item"><svg class="bi bi-facebook" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
                              </svg></li>
                                <li class="list-inline-item"><svg class="bi bi-twitter" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path>
                              </svg></li>
                                <li class="list-inline-item"><svg class="bi bi-instagram" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                  <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"></path>
                              </svg></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Scroll to top -->
            <div class="scrollTop scroll">
                <i class="fas fa-chevron-up"></i>
            </div>
    @section Scripts {
            <partial name="_ValidationScriptsPartial" />
            <script src="~/js/home.js"></script>
}
