
<div class="dteam">
    <ul class="main-nav">
        <li class="item1">
            <div class="bg"><img src="~/assets/d1.avif" alt="" /></div>
        </li>
        <li class="item2">
            <div class="bg"><img src="~/assets/d2.avif" alt="" /></div>
        </li>
        <li class="item3">
            <div class="bg">
                <img src="~/assets/Asset 3Dcontact.png" />
            </div>
        </li>
        <li class="item4">
            <div class="bg"><img src="~/assets/d4.avif" alt="" /></div>
        </li>
        <li class="item5">
            <div class="bg"><img src="/assets/d5.jpg" alt="" /></div>
        </li>
    </ul>
</div>
