@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserIdentity> SignInManager
@inject UserManager<UserIdentity> UserManager

@if (SignInManager.IsSignedIn(User))
{


    <div class="header__btn">
        @if (!User.IsInRole("Admin"))
        {
            <a href="/Others/Dcard/dcard">
                <div class="btn-dcard"><mark>Design Your Card</mark></div>
            </a>
        }

        <img src="~/assets/logo_full.svg" alt="" class="profile" />
    </div>

    <div class="header__profile">
        <p class="profile--items" id="profile">Profile</p>

       

        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { Areas = "~/" })" method="post">
            <button type="submit" class="profile--items">Logout</button>
        </form>
    </div>


}
else
{
    <a class="btn btn-signup" asp-area="Identity" asp-page="/Account/Register">Signup</a>
    <a class="btn btn-login" asp-area="Identity" asp-page="/Account/Login">Login</a>
}
