.login__container {
    background-color: #100f0f;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    padding: 8px;
    border-radius: 1em;
    transition: .5s;
    animation: slide3 .5s forwards;
}

.login--title {
    color: #fff;
    text-align: center;
    font-size: var(--title-size);
    font-family: "Pacifico-Regular";
}

.login-ques {
    text-align: center;
    margin: 0.5rem 0;
}

    .login-ques span {
        color: #ccc;
        font-size: 14px;
    }

    .login-ques a {
        font-size: 16px;
        color: var(--link-color);
        font-family: "Pacifico-Regular";
    }

.login--input {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

    .login--input input {
        padding: 12px;
        margin: 0.5rem 0;
        text-align: center;
        border-radius: 20px;
        border: 2px solid #0f3d3e;
        background: transparent;
        color: #fefbe7;
        outline: none;
        transition: 0.5s;
        width: 100%;
    }

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fefbe7;
}

.login--input input:focus {
    border-color: #fefbe7;
}

.login--forgotpw {
    display: flex;
    flex-direction: row-reverse;
    font-family: "Pacifico-Regular";
    font-size: 14px;
    margin-right: 0.5em;
    color: var(--link-color);
}

    .login--forgotpw a {
        color: inherit;
    }

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.btn-login-loginpage {
    width: 50%;
    padding: 10px;
    border-radius: var(--border-radius-btn);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0.5em 0;
    cursor: pointer;
    transition: 0.25s;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

    .btn-login-loginpage:hover {
        background: #fff;
        color: #100f0f;
        border: 1px solid #100f0f;
        box-shadow: rgba(255, 255, 255, 0.05) 0px 1px 0px, rgba(255, 255, 255, 0.1) 0px 0px 8px;
    }
